<nav>
	<span class="nav-logo">L'Atelier Immo</span>
	<ul class="nav-links">
		<li>
			<a href="{{ path('app_home_index') }}" class="{{ app.request.attributes.get('_route') == 'app_home_index' ? 'active' }}">
				Maisons
			</a>
			<a href="{{ path('app_admin_profil') }}" class="{{ app.request.attributes.get('_route') == 'app_admin_profil' ? 'active' }}">
				Profil
			</a>
		</li>

	</ul>
</nav>
