{% extends 'base.html.twig' %}

{% block title %}New Home
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/edit.css') }}">

{% endblock %}
{% block body %}
	{% include "./partials/_nav.html.twig" %}

	<div class="content">
		<h1>Create new Home</h1>

		{{ include('home/_form.html.twig') }}

		<div class="show-actions">
			<a class="btn-back" href="{{ path('app_home_index') }}">back to list</a>
		</div>
	</div>
	{% include "./partials/_footer.html.twig" %}

{% endblock %}
