<h1>Activation de votre compte sur Openblog</h1>

<p>Bonjour {{ firstname }} {{ lastname }},</p>
<p>Votre code de confirmation : <strong>{{ code_mail }}</strong></p>
<a href="{{ url }}">Accédez au document</a>

<p>Merci de votre confiance</p>
<p>L'Atelier Immo</p>
