body {
    background-color: skyblue;
}

.table {
}

.card {
    width: 15%;
    background-color: white;
}

.home-image,
.home-adress,
.home-title,
.home-surface,
.home-price,
.home-description {
    width: 40vw;
}
